<!DOCTYPE html>
<html>
<head>
	<script src="file:///C:/Users/X541UJ/JQuery/static/js/jquery-3.3.1.min.js"></script>
	<script src="file:///C:/Users/X541UJ/JQuery/static/js/table.js"></script>
	
	<table id='key' border="1">
		<caption>Key</caption>
		<tr><th>HCI</th><td>Human Computer Interaction</td></tr>
		<tr><th>ISO</th><td>Information Systems in Organisations</td></tr>
		<tr><th>SD</th>Software Development</tr>
	</table>
	
</head>
<body>
	<table id="schedule" border="1">
		<h1>Timetables</h1>
		<caption>Schedule</caption>
		<tr class="t1">
			<td></td>
			<td>9:00</td>
			<td>10:00</td>
			<td>11:00</td>
			<td>12:00</td>
			<td>13:00</td>
			<td>14:00</td>
			<td>15:00</td>
			<td>16:00</td>
		</tr>
		<tr>
			<td>Mon</td>
			<td colspan="2">INFO7105 ISO</td>

			<td class="t2" colspan="2">IMD07103 HCI</td>
			<td></td>
			<td></td>
			<td></td>
			<td>SET07012SD</td>
		</tr>

		<tr>
			<td>Tue</td>
			<td></td>
			<td colspan="2">SET07102SD JKCC05</td>
			<td></td>
			<td></td>
			<td colspan="2">IMD07103HCI H19</td>
			<td></td>
		</tr>

		<tr>
			<td>Wed</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>

		<tr>
			<td>Thu</td>
			<td></td>
			<td colspan="2">INFO7105ISO A17</td>
			<td>INF07105ISO A17</td>
			<td></td>
			<td colspan="2">IMD07103 HCI JKCC06</td>
			<td></td>
		</tr>

		<tr>
			<td>Fri</td>
			<td></td>
			<td></td>
			<td></td>
			<td>SET07102 SD A17</td>
			<td>SET07102 SD A17</td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		
	</table>
</body>
</html>