<!DOCTYPE html>
<html>
<head>
	<script src="file:///C:/Users/X541UJ/JQuery/static/js/jquery-3.3.1.min.js"></script>
	<script src="file:///C:/Users/X541UJ/JQuery/static/js/toggleclass.js"></script>
	<style>
		.hi{
			font-size: 120%;
			color: pink;
		}
	</style>
</head>
<body>
		<button style="height: 100px;width: 100px"></button>
		<p>hi hi hi hi hi hi hi hi hi hi 
		hi hi hi hi hi hi hi hi hi hi hi
		hi hi hi hi hi hi hi hi hi hi hi
		hi hi hi hi hi hi hi hi hi hi hi 
		hi hi hi hi hi hi hi hi hi hi hi
		hi hi hi hi hi hi hi hi hi hi hi
		hi hi hi hi hi hi hi hi hi hi hi
		</p>
</body>
</html>